@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.Container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Wrapper {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h1 {
  color: #182134;
  font-family: 'TheJamsil5Bold';
  line-height: normal;
}

h4 {
  color: #000;
  font-family: 'TheJamsil5Bold';
  line-height: normal;
  margin-top: 0.1vh;
  padding-bottom: 0.2vh;
}

.input {
  width: 30vw;
  height: 9vh;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #c6c6c6;
  font-family: 'TheJamsil5Bold';
  font-size: 1.2vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.errorMsg {
  color: #f67070;
  font-family: 'TheJamsil5Bold';
  font-size: 1vw;
  font-style: normal;
}

.input:focus {
  outline: none;
  border: 2px solid #ff588e;
}

.LoginBtn {
  width: 30vw;
  height: 9vh;
  flex-shrink: 0;
  border-radius: 15px;
  background: #ff588e;
  border-color: #ff588e;
  border: none;
  margin-top: 4vh;
  font-family: 'TheJamsil5Bold';
  font-size: 1vw;
}

.LoginBtnFail{
  width: 30vw;
  height: 9vh;
  flex-shrink: 0;
  border-radius: 15px;
  background: #C6C6C6;
  border-color: #C6C6C6;
  border: none;
  margin-top: 4vh;
  font-family: 'TheJamsil5Bold';
  font-size: 1vw;
}

.MoveToSignUp {
  margin-top: 1vh;
  display: flex;
  width: 20vw;
  height: 5vh;
  justify-content: center;
  flex-shrink: 0;
  font-family: 'TheJamsil5Bold';
  color: #3a4f7a;
  text-align: center;
  font-size:  1vw;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  border: none;
  background-color: white;
}
